{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block body %}



<section class="page-title mb-0" style="background-image: url('{% static 'images/background/1709723307145.jpeg' %}');
                padding: 30px;
                background-size: cover;
                background-position: center;">
  <div class="auto-container mt-2">
    <h1 style="text-transform: uppercase;">about_us</h1>
      <ul class="bread-crumb clearfix mb-0">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>About_US</li>
      </ul>
  </div>
</section>


	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title alternate centered">
				<div class="title">Achivement</div>
				<h2>Our Achivements</h2>
			</div>
			<div class="row clearfix">

				<!-- Counter Column -->
				<div class="counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-world-1"></span>
						</div>
						<h3><span class="odometer" data-count="15000"></span>+</h3>
						<div class="counter-text">Customers</div>
					</div>
				</div>

				<!-- Counter Column -->
				<div class="counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-world-1"></span>
						</div>
						<h3><span class="odometer" data-count="8"></span>+</h3>
						<div class="counter-text">Years Of Experience</div>
					</div>
				</div>

				<!-- Counter Column -->
				<div class="counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon-box">
							<span class="icon flaticon-world-1"></span>
						</div>
						<h3><span class="odometer" data-count="100"></span>+</h3>
						<div class="counter-text">Worldwide Partner</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Counter Section -->

	<!-- Welcome Section / Style Two -->
	<section class="welcome-section style-two">
    <div class="pattern-layer" style="background-image:url('{% static 'images/background/pattern-25.png' %}')"></div>
    <div class="pattern-layer-two" style="background-image:url('{% static 'images/icons/shape-3.png' %}')"></div>

		<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image wow rollIn" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/about/about-0.jpg' %}" alt="">
						</div>
						<div class="color-layer"></div>
						<div class="big-text">about</div>
					</div>
				</div>
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title Three -->
						<div class="sec-title-three">
							<div class="title"><span>Welcome to</span> Allieva Pharma</div>
							<h2>We Are Expert In All <br> Special Medicines</h2>
							<div class="text">"Allieva Pharma Private Limited is a leading oncology medicine manufacturer in India, dedicated to advance cancer treatment through reliable, high-quality pharmaceutical solutions.</div>
						</div>
						<!--div class="row clearfix">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="list">
									<li>Our Work Growth</li>
									<li>1500 Employed</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="list">
									<li>Our Employee Growth</li>
									<li>Service Management</li>
								</ul>
							</div>
						</div-->
						<!-- Quality Box -->
						<div class="quality-box">
							<div class="quality-inner">
								<span class="icon flaticon-trophy-2"></span>
								<h4>Best Quality</h4>
								<div class="text">As a trusted partner to healthcare providers globally, we specialize in manufacturing of essential oncology medications, ensuring access to safe, effective therapies for patients in need. </div>
							</div>
						</div>

						<!-- Btn Box -->
						<!--
						<div class="btn-box">
							<a href="index.html" class="theme-btn btn-style-six clearfix">
								<span class="btn-wrap">
									<span class="text-one">Explore More</span>
									<span class="text-two">Explore More</span>
								</span>
								<span class="plus flaticon-plus"></span>
							</a>
						</div>
						-->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Welcome Section -->

	<!-- Approach Section -->
	<section class="approach-section">
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title alternate centered">
				<div class="title"> </div>
				<h2>Our Mission and Vision</h2>
				<div class="text">To advance cancer treatment through quality and accessible medicines, <br> To lead in oncology care, bringing innovative solutions to support patients Worldwide.</div>
			</div>
			<div class="row clearfix">
			<div class="sec-title alternate centered">
				<div class="title"> </div>
				<h2>About Allieva Pharma</h2>
				<div class="text">Allieva Pharma Private Limited is a leading oncology medicine manufacturer in India, dedicated to advance cancer treatment through reliable, high-quality pharmaceutical solutions. As a trusted partner to healthcare professionals globally, we specialize in the manufacture of essential oncology medications, ensuring access to safe, effective therapies for patients in need. With a steadfast commitment to quality and innovation, Allieva Pharma combines cutting-edge R&D infrastructure with a patient-centric approach to meet the evolving needs of the oncology field. Our expert team and robust supply chain are designed to deliver excellence, helping to enhance patient outcomes and support medical professionals in the fight against cancer."</div>
			</div>



			</div>
		</div>
	</section>
	<!-- End Approach Section -->



	<!-- Clients Section -->
	<!--section class="clients-section">
		<div class="auto-container">
			< Sec Title Three -->
			<!--div class="sec-title alternate centered">
				<div class="title">Clients</div>
				<h2>Our Trusted Sponsor</h2>
			</div>

			<div class="carousel-outer">
                < Sponsors Slider -->
                <!--ul class="sponsors-carousel owl-carousel owl-theme">
                    <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
					<li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                </ul>
            </div>

		</div>
	</section>
	< End Clients Section -->


	<br>
	<br>



{% endblock body %}