<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="ALLIEVA PHARMA PVT LTD | Pharmaceutical Manufacturer | Medicine Exporter Allieva Pharma | Pharmaceutical Manufacturer | Exporter" />
<title>ALLIEVA PHARMA PVT LTD | Pharmaceutical Manufacturer | Medicine Exporter</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link href="../css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="../css2-1?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="../css2-2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="../css2-3?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/allieva-logo-dark.png" type="image/x-icon">
<link rel="icon" href="images/allieva-logo-dark.png" type="image/x-icon">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=+917011639113&text=I have a query !!" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<div class="cursor"></div>

<!-- PageWrapper -->
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
					<div class="txt-loading">
						<span data-text-preloader="A" class="letters-loading">
							A
						</span>
						<span data-text-preloader="L" class="letters-loading">
							L
						</span>
						<span data-text-preloader="L" class="letters-loading">
							L
						</span>
						<span data-text-preloader="I" class="letters-loading">
							I
						</span>
						<span data-text-preloader="E" class="letters-loading">
							E
						</span>
						<span data-text-preloader="V" class="letters-loading">
							V
						</span><span data-text-preloader="A" class="letters-loading">
							A
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
 
	<!-- scrollToTop start -->
	<!--div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div-->
	<!-- scrollToTop end -->
	
 	<!-- Main Header / Header Style Two -->
    <header class="main-header header-style-two">
    
		<!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    
                    <div class="pull-left logo-box">
                        <br>
                        <div class="logo"><a href="index.html"><img src="images/allieva-logo-dark.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="flaticon-customer-support-1"></span></div>
                            <ul>
                                <li>24/7 <br> Customer Service</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="flaticon-checked"></span></div>
                            <ul>
                                <li>ISO 9001 <br> Certification Company</li>
                            </ul>
                        </div>
						
						<!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="flaticon-checked"></span></div>
                            <ul>
                                <li>WHO-GMP<br>Certified Company</li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Header Upper -->
		
		<!-- Header Upper -->
        <div class="header-lower">
        	<div class="auto-container">
				<div class="inner-container clearfix">
     
					<div class="nav-outer">
						<!-- Mobile Navigation Toggler -->
						<div class="mobile-nav-toggler"><span class="icon flaticon-menu-3"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<!-- Toggle Button -->
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class=""><a href="index.html">Home</a>
									
									</li>
									<li class="dropdown"><a href="about-us.html">About</a>
										<ul>
											<li><a href="about-us.html">About us</a></li>
											
											<li><a href="jitender-gupta.html">From The Desk</a></li>
											
											<li><a href="leadership.html">Team</a></li>
											
										</ul>
									</li>
									<li class="dropdown"><a href="https://www.allievapharma.com/products">Our Products</a>
										<ul>
											<li class="dropdown"><a href="https://www.allievapharma.com/products/product-category/oncology">ONCOLOGY</a>
												<ul>
													<li><a href="https://www.allievapharma.com/products/product-category/oncology/orals">ORALS</a></li>
													<li><a href="https://www.allievapharma.com/products/product-category/oncology/injectables">INJECTABLES</a></li>
												</ul>
											</li>
											<li class="dropdown"><a href="https://www.allievapharma.com/products/product-category/hepatology/">HEPATOLOGY</a>
												<ul>
													<li><a href="https://www.allievapharma.com/products/product-category/hepatology/hep-b-2/">HEP-B</a></li>
													<li><a href="https://www.allievapharma.com/products/product-category/hepatology/hep-c-2/">HEP-C</a></li>
												</ul>
											<!--ul>
											<li><a href="https://www.allievapharma.com/products/product-category/gastroenterology">GASTROENTEROLOGY</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/nephrology">NEPHROLOGY</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/hiv">HIV</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/critical-care">CRITICAL CARE</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/focus-therapy">FOCUS THERAPY</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/rheumatology">RHEUMATOLOGY</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/anti-viral">ANTI VIRAL</a></li>
											<li><a href="https://www.allievapharma.com/products/product-category/anti-biotic">ANTI BIOTIC</a></li>
											</ul-->
										</ul>
									</li>
									<li target="_blank" ><a href="https://allievapharma.com/hiring/">Career</a>
										<!--ul>
											<li><a href="project.html">Projects</a></li>
											<li><a href="project-detail.html">Projects Detail</a></li>
										</ul-->
									</li>
									<li class="dropdown"><a href="https://allievapharma.com/hiring/">News & Blog</a>
										<!--
										<ul>
											<li><a href="blog.html">Our Blog</a></li>
											<li><a href="blog-detail.html">Blog Detail</a></li>
											<li><a href="not-found.html">Not Found</a></li>
										</ul>
										-->
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
						</nav>
						
						<!-- Main Menu End-->
						<div class="outer-box clearfix">
							
							<!-- Btn Box -->
							<div class="btn-box">
								<a href="https://www.allievapharma.com/Products-LBL-All.pdf" target="_blank" class="theme-btn btn-style-two clearfix">
									<span class="btn-wrap">
										<span class="text-one">OUR CATALOGUE</span>
									<span class="text-two">OUR CATALOGUE</span>
									</span>
									<span class="plus flaticon-plus"></span>
								</a>
							</div>
							
						</div>
					</div>
					
				</div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href=" " title=""><img src="images/allieva-logo-dark.png" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
						
                    </nav><!-- Main Menu End-->
					
					<!-- Mobile Navigation Toggler -->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu-3"></span></div>
					
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon fa fa-close"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href=" "><img src="images/allieva-logo-dark.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
	
    </header>
    <!-- End Main Header -->
	
	<!-- Main Slider Two -->
    <section class="main-slider-two">
		<div class="main-slider-carousel owl-theme owl-carousel">
		
			<!-- Slide 01 -->
			<div class="slide">
				<div class="image-layer" style="background-image:url(images/main-slider/banner-01.jpg)"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column">
						<div class="inner-column">
							<div class="title">Welcome To <span>Allieva Pharma</span></div>
							<h1>Quality <span>Assurance</span> <br> At Affortable Price</h1>
							<!--div class="text">Dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</div-->
							<div class="clearfix">
								<div class="pull-left">
									<div class="button-box">
										<a href="contact.html" class="theme-btn btn-style-three clearfix">
											<span class="btn-wrap">
												<span class="text-one">Explore More</span>
												<span class="text-two">Explore More</span>
											</span>
											<span class="plus flaticon-plus"></span>
										</a>
									</div>
								</div>
								<div class="pull-left">
									<div class="phone-box">
										<div class="box-inner">
											<span class="icon flaticon-telephone"></span>
											Call Us Now
											<strong>+91-9667279510</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Slide 01 -->
			
			
			
			<!-- Slide 03 -->
			<div class="slide">
				<div class="image-layer" style="background-image:url(images/main-slider/banner-02.jpg)"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column">
						<div class="inner-column">
							<div class="title">Welcome To <span>Allieva</span></div>
							<h1>We’re Best <span>Providing</span> <br> Oncology Medicines</h1>
							<!--div class="text">Dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</div-->
							<div class="clearfix">
								<div class="pull-left">
									<div class="button-box">
										<a href="contact.html" class="theme-btn btn-style-three clearfix">
											<span class="btn-wrap">
												<span class="text-one">Explore More</span>
												<span class="text-two">Explore More</span>
											</span>
											<span class="plus flaticon-plus"></span>
										</a>
									</div>
								</div>
								<div class="pull-left">
									<div class="phone-box">
										<div class="box-inner">
											<span class="icon flaticon-telephone"></span>
											Call Us Now
											<strong>+91-9667279510</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Slide 03 -->
		</div>
		
		<!-- Social Box -->
		<ul class="social-box">
		    &nbsp;
		    &nbsp;
		    &nbsp;
			<li><a href="https://www.facebook.com/allievapharmaprivatelimited" class="fa fa-facebook"> <span>Facebook</span></a></li>
			<li><a href="https://twitter.com/AllievapharmaIt" class="fa fa-twitter"> <span>Twitter</span></a></li>
			<li><a href="https://www.instagram.com/allieva_pharma/" class="fa fa-instagram"> <span>Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/company/allieva-pharma" class="fa fa-linkedin"> <span>LinkedIn</span></a></li>
		</ul>
		<!-- End Social Box -->
		<div class="pattern-layer" style="background-image:url(images/main-slider/shape-layer.png)"></div>
    </section>
    <!-- End Main Slider Section -->
	
	<!-- About Section Two -->
	<section class="about-section-two" style="background-image:url(images/background/pattern-14.png)">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="year-box">
							<h2><span class="odometer" data-count="8"></span>+</h2>
							Years
						</div>
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="images/resource/about-1.jpg" alt="">
						</div>
						<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="images/resource/about-2.jpg" alt="">
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">About Allieva</div>
							<h2>Providing Full Range of <br> Cancer Medicines <br> Worldwide</h2>
							<div class="text"> </div>
						</div>
						<div class="row clearfix">
							
							<!-- Feature Block Two -->
							<div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<span class="icon flaticon-planet-earth"></span>
									<h6>Worldwide Exporters</h6>
									<div class="text"> </div>
								</div>
							</div>
							
							<!-- Feature Block Two -->
							<div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<span class="icon flaticon-trophy-2"></span>
									<h6>Best Quality Service</h6>
									<div class="text"> </div>
								</div>
							</div>
							
						</div>
						
						<!-- Button Box -->
						<div class="button-box">
							<a href="contact.html" class="theme-btn btn-style-four clearfix">
								<span class="btn-wrap">
									<span class="text-one">Contact Us</span>
									<span class="text-two">Contact Us</span>
								</span>
								<span class="plus flaticon-plus"></span>
							</a>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section Two -->
	
	<!-- CTA Section -->
	<section class="cta-section-one">
		<div class="auto-container">
			<div class="inner-container" style="background-image:url(images/background/pattern-15.png)">
				<div class="row clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<h2>For International <br> Collaboration</h2>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12">
						<!--div class="play-box">
							<a href="#" class="lightbox-video play-button"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
							
							<strong>export@allievapharma.com</strong>
						</div-->
						
						<!-- Button Box -->
						<div class="button-box">
							<a href="mailto:export@allievapharma.com" class="theme-btn btn-style-four clearfix">
								<span class="btn-wrap">
									<span class="text-one">export@allievapharma.com</span>
									<span class="text-two">export@allievapharma.com</span>
								</span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section -->
	
	<!-- Services Section Three -->
	<section class="service-section-three" style="background-image:url(images/background/5.jpg)">
		<div class="auto-container">
			
			<!-- Sec Title Two -->
			<div class="sec-title-two light centered">
				<div class="title">Our Highlights</div>
				<h2>We Provide Best Services <br> For Everyone </h2>
			</div>
			
			<div class="row clearfix ">
				
				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" >
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-drop-of-liquid"></span>
						</div>
						<h5><a href="oil-gas.html">Infrastructure</a></h5>
						<div class="text">Allieva Pharma Private Limited has developed a state-of-the-art R&D center that spans across a vast area. A striking feature of this facility is its meticulously planned and comprehensive infrastructure, designed to foster innovation and excellence in pharmaceutical research. With cutting-edge technology and resources, the R&D center at Allieva Pharma stands as a cornerstone in advancing healthcare solutions and maintaining its leadership in oncology medicine distribution.  ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ </div>
					<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>
				
				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-lightning"></span>
						</div>
						<h5><a href="oil-gas.html">Research & Development</a></h5>
						<div class="text">Allieva Pharma Private Limited is recognized as one of the global leaders in the development and manufacturing of a wide range of branded and non-branded generic drugs. Specializing in Oncology and Antiretroviral (ARV) medications, Allieva Pharma is committed to delivering high-quality, affordable treatments that address critical health challenges, solidifying its position at the forefront of the pharmaceutical industry.‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎</div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>
				
				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-bionic-eye"></span>
						</div>
						<h5><a href="oil-gas.html">Achievements</a></h5>
						<div class="text">Allieva Pharma Private Limited has made significant contributions to cancer treatment by launching high-quality, affordable generic versions of critical oncology medicines. Through strategic licensing agreements with leading global pharmaceutical companies, Allieva Pharma manufactures a wide range of cancer drugs, ensuring accessibility to life-saving treatments. These efforts underscore the company's dedication to addressing global health challenges, particularly in the fight against cancer.</div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>
				
				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-maintenance"></span>
						</div>
						<h5><a href="oil-gas.html">Innovation Drives Progress</a></h5>
						<div class="text">At Allieva Pharma Private Limited, innovation is at the heart of our approach to developing new drugs and therapeutic biological products. Our company is fully dedicated to crafting a robust Innovation Strategy that addresses the evolving molecular needs of the pharmaceutical industry. By leveraging cutting-edge research and development techniques, we aim to deliver breakthrough treatments that enhance patient care and meet the highest standards of quality and efficacy.</div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>
				
			</div>
			
			<!-- Btn Box -->
			<!--div class="btn-box text-center">
				<a href="services.html" class="theme-btn btn-style-two clearfix">
					<span class="btn-wrap">
						<span class="text-one">More Service</span>
						<span class="text-two">More Service</span>
					</span>
					<span class="plus flaticon-plus"></span>
				</a>
			</div-->
			
		</div>
	</section>
	<!-- End Services Section Three -->
	
    <br>
    <br>
    
	<!-- Project Section Two -->
	<section class="project-section-two">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Title Column -->
				<div class="title-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">Who we are ?</div>
							<h2>Allieva Pharma Private Limited</h2>
						</div><br>
						<div class="text"> is India’s leading distributor of oncology medicines, committed to advancing cancer care and improving the quality of life for patients.<br> With a strong focus on innovation and research, we bring the latest pharmaceutical solutions to the market, ensuring that cutting-edge treatments are available to those who need them most.</div>
						<!--div class="button-box">
							<a href="oil-gas.html" class="theme-btn btn-style-three clearfix">
								<span class="btn-wrap">
									<span class="text-one">Case Details</span>
									<span class="text-two">Case Details</span>
								</span>
								<span class="plus flaticon-plus"></span>
							</a>
						</div-->
					</div>
				</div>
				
				<!-- Carousel Column -->
				<div class="carousel-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="single-item-carousel owl-carousel owl-theme">
							<div class="slide">
								<div class="image">
									<img src="images/gallery/2.jpg" alt="">
								</div>
							</div>
							<div class="slide">
								<div class="image">
									<img src="images/gallery/17.jpeg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Project Section Two -->
	
	<!-- Faq Section -->
	<section class="faq-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">Why Choose Us?</div>
							<h2>Get Every Single Answer From Here</h2>
						</div>
						<div class="image">
							<img src="images/resource/18.jpg" alt="">
						</div>
					</div>
				</div>
				
				<!-- Accordion Column -->
				<div class="accordion-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="upper-text">At Allieva Pharma, innovation is at the heart of what we do. Our R&D infrastructure supports the continuous development of new therapies that are designed to combat the complexities of cancer. Through strategic collaborations with leading institutions and ongoing investments in scientific research, we strive to discover and deliver groundbreaking oncology solutions.</div>
						
						<!-- Accordian Box -->
						<ul class="accordion-box">

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Expertise in Oncology: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We specialize in the distribution of advanced oncology medicines, working closely with healthcare providers to ensure the best treatment options for patients.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Global Network: </div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">With a strong presence in the Indian market and growing collaborations globally, we aim to set new benchmarks in pharmaceutical distribution.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Innovative R&D Infrastructure: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our cutting-edge research and development infrastructure allows us to constantly innovate and deliver the latest advancements in cancer treatment.</div>
									</div>
								</div>
							</li>
							
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Quality and Compliance: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We adhere to the highest quality standards, ensuring all our products meet rigorous regulatory requirements to provide safe and effective solutions.</div>
									</div>
								</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Faq Section -->
	

	
	<!-- Info Section -->
	<section class="info-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="clearfix">
				
					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-headphones-1"></div>
								<br>
								<strong>24/7 Clients Support</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>
					
					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-bulb"></div>
								<br>
								<strong>Best Price</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>
					
					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-security"></div>
								<br>
								<strong>Quality Assurance</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Info Section -->
	
	<!-- Footer Style Two -->
	<footer class="footer-style-two">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-23.png)"></div>
		<div class="pattern-layer-two" style="background-image:url(images/background/pattern-24.png)"></div>
		<div class="auto-container">
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">
					
					<!-- Big Column -->
					<div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget logo-widget">
									<div class="logo">
										<a href=" "><img src="images/allieva-light-dark.png" alt=""></a>
									</div>
									<div class="text">Allieva Pharma Private Limited was founded in 2016 with goal to deliver high standards medicines at affordable price.</div>
									<ul class="social-box">
										<li><a href="https://www.facebook.com/allievapharmaprivatelimited" class="fa fa-facebook"></a></li>
										<li><a href="https://twitter.com/AllievapharmaIt" class="fa fa-twitter"></a></li>
										<li><a href="https://www.instagram.com/allieva_pharma/" class="fa fa-instagram"></a></li>
										<li><a href="https://www.linkedin.com/company/allieva-pharma" class="fa fa-linkedin"></a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget news-widget">
								    <h5>Check Authencity</h5>
									<div class="btn-box">
								<a href="https://www.allievapharma.com/medicine-verification.html" class="theme-btn btn-style-two clearfix">
									<span class="btn-wrap">
										<span class="text-one">Medicine Verification</span>
									<span class="text-two">Medicine Verification</span>
									</span>
									<span class="plus flaticon-plus"></span>
								</a>
							</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
					<div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget newsletter-widget">
									<h5>Information</h5>
									<div class="widget-content">
										<div class="text">Welcome to Allieva Pharma Private Limited Was Incorporated in 2016 in India. With One Goal in Mind to Provide High Quality and Affordable Medicines to All.</div>
										<!-- Email Box -->
									</div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h5>Get In Touch</h5>
									<ul class="contact-list">
										<li>
											<span class="icon flaticon-telephone"></span>
											Phone Number
											<a href="mailto:+91-9667279510">+91- 9667279510</a>
										</li>
										<li>
											<span class="icon flaticon-email"></span>
											Email Address
											<a href="mailto:info@allievapharma.com">info@allievapharma.com</a>
										</li>
										<li>
											<span class="icon flaticon-home"></span>
											Office Address
											<a href="https://maps.app.goo.gl/d8dJHBa7KT9rDbfHA">14/16/1 Site 4 Sahibabad Industrial Area Ghaziabad <br> Uttar Pradesh 201010 </a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="footer-bottom">
				<div class="clearfix">
					<div class="pull-left">
						<div class="copyright">&copy; 2024 Allieva Pharma - All rights reserved. <a href="https://www.allievapharma.com">Allieva Pharma</a></div>
					</div>
					<div class="pull-right">
						<ul class="footer-nav">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Cookie Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</footer>
	<!-- End Footer Style Two -->
	
</div>
<!-- End Page Wrapper -->

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/appear.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/odometer.js"></script>
<script src="js/slick.js"></script>
<script src="js/backToTop.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/cursor-script.js"></script>
<script src="js/script.js"></script>

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</body>
</html>