{% extends "base.html" %}
{% block title %}Home{% endblock title %}



{% block body %}
{% load static %}



<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
					<div class="txt-loading">
						<span data-text-preloader="A" class="letters-loading">
							A
						</span>
						<span data-text-preloader="L" class="letters-loading">
							L
						</span>
						<span data-text-preloader="L" class="letters-loading">
							L
						</span>
						<span data-text-preloader="I" class="letters-loading">
							I
						</span>
						<span data-text-preloader="E" class="letters-loading">
							E
						</span>
						<span data-text-preloader="V" class="letters-loading">
							V
						</span><span data-text-preloader="A" class="letters-loading">
							A
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->


<!-- Main Slider Two -->
    <section class="main-slider-two">
		<div class="main-slider-carousel owl-theme owl-carousel">

			<!-- Slide 01 -->
			<div class="slide">
				<div class="image-layer" style="background-image: url('{% static 'images/main-slider/banner-01.jpg' %}')"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column">
						<div class="inner-column">
							<div class="title">Welcome To <span>Allieva Pharma</span></div>
							<h1>Quality <span>Assurance</span> <br> At Affortable Price</h1>
							<div class="clearfix">
									<div class="pull-left">
									<div class="button-box">
										<a href="{% url 'contact' %}" class="theme-btn btn-style-three clearfix">
											<span class="btn-wrap">
												<span class="text-one">Explore More</span>
												<span class="text-two">Explore More</span>
											</span>
											<span class="plus flaticon-plus"></span>
										</a>
									</div>
								</div>
								<div class="pull-left">
									<div class="phone-box">
										<div class="box-inner">
											<span class="icon flaticon-telephone"></span>
											Call Us Now
											<strong>+91-9667279510</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Slide 01 -->



			<!-- Slide 03 -->
			<div class="slide">
				<div class="image-layer" style="background-image: url('{% static 'images/main-slider/banner-02.jpg' %}')"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column">
						<div class="inner-column">
							<div class="title">Welcome To <span>Allieva</span></div>
							<h1>We’re Best <span>Providing</span> <br> Oncology Medicines</h1>
							<!--div class="text">Dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</div-->
							<div class="clearfix">
								<div class="pull-left">
									<div class="button-box">
										<a href="{% url 'contact' %}" class="theme-btn btn-style-three clearfix">
											<span class="btn-wrap">
												<span class="text-one">Explore More</span>
												<span class="text-two">Explore More</span>
											</span>
											<span class="plus flaticon-plus"></span>
										</a>
									</div>
								</div>
								<div class="pull-left">
									<div class="phone-box">
										<div class="box-inner">
											<span class="icon flaticon-telephone"></span>
											Call Us Now
											<strong>+91-9667279510</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Slide 03 -->
		</div>

		<!-- Social Box -->
		<ul class="social-box">
		    &nbsp;
		    &nbsp;
		    &nbsp;
			<li><a href="https://www.facebook.com/allievapharmaprivatelimited" class="fa fa-facebook"> <span>Facebook</span></a></li>
			<li><a href="https://twitter.com/AllievapharmaIt" class="fa fa-twitter"> <span>Twitter</span></a></li>
			<li><a href="https://www.instagram.com/allieva_pharma/" class="fa fa-instagram"> <span>Instagram</span></a></li>
			<li><a href="https://www.linkedin.com/company/allieva-pharma" class="fa fa-linkedin"> <span>LinkedIn</span></a></li>
		</ul>
		<!-- End Social Box -->
		<div class="pattern-layer" style="background-image: url('{% static 'images/main-slider/shape-layer.png' %}')"></div>
    </section>
    <!-- End Main Slider Section -->

	<!-- About Section Two -->
	<section class="about-section-two" style="background-image: url('{% static 'images/background/pattern-14.png' %}')">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="year-box">
							<h2><span class="odometer" data-count="9"></span>+</h2>
							Years
						</div>
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/about-1.jpg' %}" alt="">
						</div>
						<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/about-2.jpg' %}" alt="">
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">About Allieva</div>
							<h2>Providing Full Range of <br> Cancer Medicines <br> Worldwide</h2>
							<div class="text"> </div>
						</div>
						<div class="row clearfix">

							<!-- Feature Block Two -->
							<div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<span class="icon flaticon-planet-earth"></span>
									<h6>Worldwide Exporters</h6>
									<div class="text"> </div>
								</div>
							</div>

							<!-- Feature Block Two -->
							<div class="feature-block-two col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box">
									<span class="icon flaticon-trophy-2"></span>
									<h6>Best Quality Service</h6>
									<div class="text"> </div>
								</div>
							</div>

						</div>

						<!-- Button Box -->
						<div class="button-box">
							<a href="{% url 'contact' %}" class="theme-btn btn-style-four clearfix">
								<span class="btn-wrap">
									<span class="text-one">Contact Us</span>
									<span class="text-two">Contact Us</span>
								</span>
								<span class="plus flaticon-plus"></span>
							</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End About Section Two -->

	<!-- CTA Section -->
	<section class="cta-section-one">
		<div class="auto-container">
			<div class="inner-container" style="background-image: url('{% static 'images/background/pattern-15.png' %}');">
				<div class="row clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<h2>For International <br> Collaboration</h2>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12">
						<!--div class="play-box">
							<a href="#" class="lightbox-video play-button"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>

							<strong>export@allievapharma.com</strong>
						</div-->

						<!-- Button Box -->
						<div class="button-box">
							<a href="mailto:export@allievapharma.com" class="theme-btn btn-style-four clearfix">
								<span class="btn-wrap">
									<span class="text-one">export@allievapharma.com</span>
									<span class="text-two">export@allievapharma.com</span>
								</span>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Section -->

	<!-- Services Section Three -->
	<section class="service-section-three" style="background-image: url('{% static 'images/background/5.jpg' %}');">
		<div class="auto-container">

			<!-- Sec Title Two -->
			<div class="sec-title-two light centered">
				<div class="title">Our Highlights</div>
				<h2>We Provide Best Services <br> For Everyone </h2>
			</div>

			<div class="row clearfix" style="display:flex; flex-wrap:wrap;">

				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12" style="display:flex;">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-drop-of-liquid"></span>
						</div>
						<h5 style="color:white">Infrastructure</h5>
						<div class="text">Allieva Pharma Private Limited has developed a state-of-the-art R&D center that spans across a vast area. A striking feature of this facility is its meticulously planned and comprehensive infrastructure, designed to foster innovation and excellence in pharmaceutical research. With cutting-edge technology and resources, the R&D center at Allieva Pharma stands as a cornerstone in advancing healthcare solutions and maintaining its leadership in oncology medicine distribution. <br><br> </div>
					<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>

				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12" style="display:flex;">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-lightning"></span>
						</div>
						<h5 style="color:white">Research & Development</h5>
						<div class="text">Allieva Pharma Private Limited is recognized as one of the global leaders in the development and manufacturing of a wide range of branded and non-branded generic drugs. Specializing in Oncology and Antiretroviral (ARV) medications, Allieva Pharma is committed to delivering high-quality, affordable treatments that address critical health challenges, solidifying its position at the forefront of the pharmaceutical industry.<br> <br><br></div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>

				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12" style="display:flex;">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-bionic-eye"></span>
						</div>
						<h5 style="color:white" >Achievements</h5>
						<div class="text">Allieva Pharma Private Limited has made significant contributions to cancer treatment by launching high-quality, affordable generic versions of critical oncology medicines. Through strategic licensing agreements with leading global pharmaceutical companies, Allieva Pharma manufactures a wide range of cancer drugs, ensuring accessibility to life-saving treatments. These efforts underscore the company's dedication to addressing global health challenges, particularly in the fight against cancer.</div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>

				<!-- Service Block Three -->
				<div class="service-block-three col-lg-3 col-md-6 col-sm-12" style="display:flex;">
					<div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="color-one"></span>
							<span class="color-two"></span>
							<span class="color-three"></span>
							<span class="color-four"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-maintenance"></span>
						</div>
						<h5 style="color:white" >Innovation Drives Progress</h5>
						<div class="text">At Allieva Pharma Private Limited, innovation is at the heart of our approach to developing new drugs and therapeutic biological products. Our company is fully dedicated to crafting a robust Innovation Strategy that addresses the evolving molecular needs of the pharmaceutical industry. By leveraging cutting-edge research and development techniques, we aim to deliver breakthrough treatments that enhance patient care and meet the highest standards of quality and efficacy.</div>
						<!--	<a class="plus-icon flaticon-plus" href="#"></a> -->
					</div>
				</div>

			</div>

			<!-- Btn Box -->
			<!--div class="btn-box text-center">
				<a href="services.html" class="theme-btn btn-style-two clearfix">
					<span class="btn-wrap">
						<span class="text-one">More Service</span>
						<span class="text-two">More Service</span>
					</span>
					<span class="plus flaticon-plus"></span>
				</a>
			</div-->

		</div>
	</section>
	<!-- End Services Section Three -->

    <br>
    <br>

	<!-- Project Section Two -->
	<section class="project-section-two">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">Who we are ?</div>
							<h2>Allieva Pharma Private Limited</h2>
						</div><br>
						<div class="text"> Is India’s leading distributor of oncology medicines, committed to advancing cancer care and improving the quality of life for patients.<br> With a strong focus on innovation and research, we bring the latest pharmaceutical solutions to the market, ensuring that cutting-edge treatments are available to those who need them most.</div>
						<!--div class="button-box">
							<a href="oil-gas.html" class="theme-btn btn-style-three clearfix">
								<span class="btn-wrap">
									<span class="text-one">Case Details</span>
									<span class="text-two">Case Details</span>
								</span>
								<span class="plus flaticon-plus"></span>
							</a>
						</div-->
					</div>
				</div>

				<!-- Carousel Column -->
				<div class="carousel-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="single-item-carousel owl-carousel owl-theme">
							<div class="slide">
								<div class="image">
									<img src="{% static 'images/gallery/2.jpg' %}" alt="">
								</div>
							</div>
							<div class="slide">
								<div class="image">
									<img src="{% static 'images/gallery/17.jpeg' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Project Section Two -->

	<!-- Faq Section -->
	<section class="faq-section">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-two">
							<div class="title">Why Choose Us?</div>
							<h2>Get Every Single Answer From Here</h2>
						</div>
						<div class="image">
							<img src="{% static 'images/resource/18.jpg' %}" alt="">
						</div>
					</div>
				</div>

				<!-- Accordion Column -->
				<div class="accordion-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="upper-text">At Allieva Pharma, innovation is at the heart of what we do. Our R&D infrastructure supports the continuous development of new therapies that are designed to combat the complexities of cancer. Through strategic collaborations with leading institutions and ongoing investments in scientific research, we strive to discover and deliver groundbreaking oncology solutions.</div>

						<!-- Accordian Box -->
						<ul class="accordion-box">

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Expertise in Oncology: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We specialize in the distribution of advanced oncology medicines, working closely with healthcare providers to ensure the best treatment options for patients.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Global Network: </div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">With a strong presence in the Indian market and growing collaborations globally, we aim to set new benchmarks in pharmaceutical distribution.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Innovative R&D Infrastructure: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our cutting-edge research and development infrastructure allows us to constantly innovate and deliver the latest advancements in cancer treatment.</div>
									</div>
								</div>
							</li>

							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Quality and Compliance: </div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We adhere to the highest quality standards, ensuring all our products meet rigorous regulatory requirements to provide safe and effective solutions.</div>
									</div>
								</div>
							</li>

						</ul>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Faq Section -->



	<!-- Info Section -->
	<section class="info-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="clearfix">

					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-headphones-1"></div>
								<br>
								<strong>24/7 Clients Support</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>

					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-bulb"></div>
								<br>
								<strong>Best Price</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>

					<!-- Info Block -->
					<div class="info-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-security"></div>
								<br>
								<strong>Quality Assurance</strong>
								<div class="text"> </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Info Section -->

{% endblock body %}