{% extends "base.html" %}
{% block title %}Our Team{% endblock title %}



{% block body %}
{% load static %}

<section class="page-title" style="background-image: url('{% static 'images/background/1709723307145.jpeg' %}')"> </section>


	<!-- Team Page Section -->
	<section class="team-page-section">
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title-three">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">Our Team</div>
						<h2>Best & Quality Team <br> Members</h2>
					</div>
					<div class="pull-right">
						<div class="text">At Allieva Pharma, our success is built on the dedication, expertise, and passion of our exceptional team members. Each individual plays a pivotal role in ensuring the highest standards of quality, innovation, and efficiency in every aspect of our operations. Our team’s unwavering commitment to excellence drives us to deliver breakthrough solutions in oncology and healthcare. With a shared vision of transforming lives through cutting-edge medicine, we foster a culture of collaboration, integrity, and continuous improvement. At Allieva Pharma, quality isn’t just a standard; it’s a promise upheld by every member of our outstanding team.</div>
					</div>
				</div>
			</div>

			<div class="row clearfix">


				<!-- Team Block Three -->
				<div class="team-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/team/Anilkumar-Menon.png' %}" alt="">
							<div class="overlay-box">
								<h5><a href="#">Anil Kumar Menon </a></h5>
								<div class="designation">National Sales Manager </div>
								<!-- <a class="arrow fa-angle-double-right" href="#"></a> -->
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block Three -->
				 <div class="team-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/team/v-p-tripathi.jpg' %}" alt="">
							<div class="overlay-box">
								<h5><a href="#">V P Tripathi</a></h5>
								<div class="designation">Head - Supply Chain Management </div>
								<!-- <a class="arrow fa-angle-double-right" href="#"></a> -->
							</div>
						</div>
					</div>
				</div>

				<!-- Team Block Three -->
				<div class="team-block-three col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'images/resource/team/User_Female.webp' %}" alt="">
							<div class="overlay-box">
								<h5><a href="team-detail.html">Akanksha saxena</a></h5>
								<div class="designation">HR Admin</div>
								<!--<a class="arrow fa-angle-double-right" href="#"></a> -->
							</div>
						</div>
					</div>
				</div>

				</div>
		</div>
	</section>
	<!-- End Team Page Section -->










{% endblock body %}